extends ../layouts/default.pug
block content
    div
        h1 #{__('content.title')}
        div(class="card")
            p #{__('content.description')}
            button(id="counter" type="button")